* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
}

.logo {
    margin: auto 10px;
    width: 60px;
}

.flex-nav {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    background-color: #46C3A6;
}

.nav {
    float: right;
    height: 60px;
    line-height: 60px;
    width: 60%;
}

.nav ul {
    margin: 0 auto;
    display: block;
    max-width: 500px;
}

.nav li {
    float: left;
    list-style-type: none;
    width: 20%;
    text-align: center;
}

.nav a {
    text-decoration: none;
    color: #fff;
    display: block;
    font-size: 0.9em;
}

.nav a:hover {
    color: #505659;
    background-color: #fff;
    text-align: center;
    border-radius: 2px;
}

.blueberry { 
    /* max-width: 1100px;  */
    /* height:500px; */
    margin-left: auto;
    margin-right: auto;
}

.slides {
    max-width: 100%;
    /* height: 400px;   */
    margin-left: auto;
    margin-right: auto;
}

/* font awesome icon styles
i.logo {
    color: rgba(142, 8, 6, 1);
    text-shadow: 1px 1px #ccc; gives the icon a little depth
    font-size: 1.25em; font awesome icons are text, so make it a bit bigger
    margin-left: 1%; this keeps the icon from being squeeezed to the left
} */

header {
    position: fixed;
    top: 0; /* for keeping stable */
    display: block;
    width: 100%;
    background: #fff;
    z-index: 1;
}

.wrapper {
    display: grid;
    grid-column-start: 3;
    grid-column-end: 11;
    width: 100%;
    margin: 200px auto 0px auto;
    background-color: beige;
}

.main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    background-image: url("../images/splashstockseattle.jpg");
    grid-gap: 10px 10px;
    padding: 20px;
}

.splash {
    grid-column: span 13;
    margin: 0 auto;
}

.splash p {
    margin-top: 200px;
    margin-bottom: 150px;
    color: #fff;
    font-size: 4em;
    font-style: normal;
    font-variant: normal;
    text-align: center;
}

.fourth {
    grid-column: span 3;
}

.fourth a {
    text-decoration: none;
    color: #fff;
    display: block;
    font-size: 0.9em;
}

.half {
    grid-column: span 6;
}

.main .fourth {
    border: 2px dotted red;
    background-color: #f1f8fe;
}

.main .half {
    border: 2px dotted blue;
    background-color: #f1f8fe;
}

.main .half img {
    margin: 0 auto;
}

.categories {
    display: grid;
    grid-column: span 13;
    /* background-color: chartreuse;
    height: */
}

.categories .cat {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 33.3% 33.3% 33.3%;
    grid-gap: 10px 10px;
}

.cat .types {
    height: 60px;
    line-height: 60px;
    width: 100%;
    border-radius: 3px;
    text-align: center;
    background-color: #D3FAF1;
    margin: auto;
}

.cat .types a {
    text-decoration: none;
    color: #1bac8a;
    display: block;
    font-size: 1em;
}

.cat .types a:hover {
    color: #000;
    background-color: #fff;
    text-align: center;
    border-radius: 3px;
}

img {
    max-width: 100%;
    display: block;
}

h1 {
    display: block;
    margin-top: 10px;
    margin-bottom: 15px;
    color: #46C3A6;
    font-size: 1.5em;
    font-style: italic;
    font-variant: normal;
    text-transform: capitalize;
}

h2, h3 {
    margin-top: 10px;
    margin-bottom: 15px;
    color: #fff;
    font-weight: 300;
    font-style: normal;
    font-variant: normal;
    text-transform: capitalize;
}

h4 {
    margin-top: 10px;
    margin-bottom: 15px;
    color: #000;
    font-weight: lighter;
}

p {
    line-height: 1.5;
    margin-bottom: 13px;
}

.main-categoriespage {
    background-color: #f1f8fe;
    grid-column: span 13;
}

.main-categoriespage a {
    color: #505659;
    font-size: 0.8em;
    font-style: 200;
}

.main-categoriespage p {
    color: #505659;
    font-size: 0.8em;
    font-style: 200;
}

form {
    width: auto;
}

.signup {
    background: #f1f1f1;
    border: 4px solid #f1f1f1;
    padding: 10px;
}

footer {
    background-color: #46C3A6;
    clear: both;
    font-size: .9em;
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.social {
    background-color: #46C3A6;
    grid-column: span 12;
    text-align: center;
}

.smbuttons {
    /* grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 20px;
}

.social img {
    width: 5%;
    height: auto;
}

.ig {
    grid-column: span 4;
}

.tw {
    grid-column: span 4;
}

.fb {
    grid-column: span 4;
}

.copyright {
    background-color: #46C3A6;
    grid-column: span 12;
    text-align: center;
    padding: auto 0;
    color:#fff;
    margin-top: 30px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .wrapper {
    position: relative;
    width: 100%;
}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .wrapper {
    position: relative;
    width: 100%;
}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .wrapper {
    position: relative;
    width: 100%;
}
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .wrapper {
    position: relative;
    width: 100%;
}
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .wrapper {
    position: relative;
    width: 100%;
}
}